@import "tailwindcss";

@theme {
  --color-primary: #13ec5b;
  --color-accent-orange: #ff9500;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;
  --font-display: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.ios-blur {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes shutter {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-shutter {
  animation: shutter 0.2s ease-out forwards;
}
